*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.search{
    --padding: 14px;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}
.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0,0.75);
}
.search-input{
    font-size: 16px;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background-color: transparent;
    width: 300px;
}
#name{
    font-weight: 600;
    color: #3b3b3b;
}
#fonts{
    color: grey;
}
.search button{
    border: none;
    background-color: transparent;
}
.headertop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#links{
    text-decoration: none;
    color: grey;
}
.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(169, 168, 168);
}